In this notebook, we overview the usage of Pandas.

# Load the dataset

In [1]:
import pandas as pd

df = pd.read_csv('0_Preliminary/0_Training/Pre_train_D_1.csv')
df

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass
0,1.597760e+09,153,8,20 A1 10 FF 00 FF 50 1F,Normal,Normal
1,1.597760e+09,220,8,13 24 7F 60 05 FF BF 10,Normal,Normal
2,1.597760e+09,507,4,08 00 00 01,Normal,Normal
3,1.597760e+09,356,8,00 00 00 80 16 00 00 00,Normal,Normal
4,1.597760e+09,340,8,FC 03 00 E4 B7 21 FA 3C,Normal,Normal
...,...,...,...,...,...,...
806385,1.597760e+09,366,7,3B 28 0B 3B 30 00 01,Normal,Normal
806386,1.597760e+09,367,8,00 00 00 00 05 00 00 00,Normal,Normal
806387,1.597760e+09,368,8,00 00 00 00 01 28 0B 42,Normal,Normal
806388,1.597760e+09,47F,8,04 7F FF FF 00 7B 00 26,Normal,Normal
806389,1.597760e+09,4C9,8,00 00 00 00 00 00 00 00,Normal,Normal

# Pandas usage: how to access the data
## Terms (Pandas class)
- [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html): a Pandas class representing a table (2D array)
- [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html): a Pandas class representing an 1D array

### DataFrame
- Case 1. Access a column: **`df[COL_IDX]`**, `df.loc[, COL_IDX]` -> It returns a *Series*.
- Case 2. Access a row: **`df.loc[ROW_IDX]`**, `df.loc[ROW_IDX, ]`  -> It returns a *Series*.
- Case 3: Access an element: `df.loc[ROW_IDX, COL_IDX]` -> It returns a *value*.


### Series
Just consider it a Python list: `series[IDX]`

[Pandas user guide: Indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html)

In [2]:
df['Class']  # column

0         Normal
1         Normal
2         Normal
3         Normal
4         Normal
           ...
806385    Normal
806386    Normal
806387    Normal
806388    Normal
806389    Normal
Name: Class, Length: 806390, dtype: object

In [3]:
df.loc[2]  # row

Timestamp         1597759710.12631
Arbitration_ID                 507
DLC                              4
Data                   08 00 00 01
Class                       Normal
SubClass                    Normal
Name: 2, dtype: object

In [4]:
df.loc[2:4]  # rows (slicing)

      Timestamp Arbitration_ID  DLC                     Data   Class SubClass
2  1.597760e+09            507    4              08 00 00 01  Normal   Normal
3  1.597760e+09            356    8  00 00 00 80 16 00 00 00  Normal   Normal
4  1.597760e+09            340    8  FC 03 00 E4 B7 21 FA 3C  Normal   Normal

In [5]:
df.loc[[2, 4, 8, 16, 30000]]  # rows (with specific indices)

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass
2,1.597760e+09,507,4,08 00 00 01,Normal,Normal
4,1.597760e+09,340,8,FC 03 00 E4 B7 21 FA 3C,Normal,Normal
8,1.597760e+09,470,8,15 41 01 04 54 50 54 B9,Normal,Normal
16,1.597760e+09,140,8,E0 7F 00 6F 20 00 02 0F,Normal,Normal
30000,1.597760e+09,140,8,6C 81 00 6F 20 00 02 5A,Normal,Normal

In [6]:
df.loc[2, 'Data']  # element

'08 00 00 01'

In [7]:
# three ways to access the element at row 2 and col `Data`
print(df['Data'][2])
print(df.loc[2]['Data'])
print(df.loc[2, 'Data'])

08 00 00 01
08 00 00 01
08 00 00 01

In [8]:
df.shape  # the number of rows and columns

(806390, 6)

## Conditional indexing

The code below works but do not evaluate row by row because it is inefficient.
```python
output = list()
for rowidx, row in df.iterrows():
    if row['DLC'] != 8:
        output.append(row)

len(output)
```

In [9]:
df['DLC'] != 8  # returns a series of booleans

0         False
1         False
2          True
3         False
4         False
          ...
806385     True
806386    False
806387    False
806388    False
806389    False
Name: DLC, Length: 806390, dtype: bool

In [10]:
df2 = df[df['DLC'] != 8]  # select rows by booleans
df2

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass
2,1.597760e+09,507,4,08 00 00 01,Normal,Normal
5,1.597760e+09,366,7,33 B0 0A 33 30 00 01,Normal,Normal
9,1.597760e+09,453,5,00 88 8B 00 C1,Normal,Normal
10,1.597760e+09,485,4,03 00 00 00,Normal,Normal
13,1.597760e+09,164,4,00 08 1F DD,Normal,Normal
...,...,...,...,...,...,...
806361,1.597760e+09,436,4,00 00 00 04,Normal,Normal
806362,1.597760e+09,453,5,00 88 8E 00 69,Normal,Normal
806367,1.597760e+09,164,4,00 08 07 F8,Normal,Normal
806371,1.597760e+09,2B0,6,5B 00 00 07 2B 19,Normal,Normal
806385,1.597760e+09,366,7,3B 28 0B 3B 30 00 01,Normal,Normal

In [11]:
df2 = df.query('DLC != 8')  # df.query() -> another convenient way
df2

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass
2,1.597760e+09,507,4,08 00 00 01,Normal,Normal
5,1.597760e+09,366,7,33 B0 0A 33 30 00 01,Normal,Normal
9,1.597760e+09,453,5,00 88 8B 00 C1,Normal,Normal
10,1.597760e+09,485,4,03 00 00 00,Normal,Normal
13,1.597760e+09,164,4,00 08 1F DD,Normal,Normal
...,...,...,...,...,...,...
806361,1.597760e+09,436,4,00 00 00 04,Normal,Normal
806362,1.597760e+09,453,5,00 88 8E 00 69,Normal,Normal
806367,1.597760e+09,164,4,00 08 07 F8,Normal,Normal
806371,1.597760e+09,2B0,6,5B 00 00 07 2B 19,Normal,Normal
806385,1.597760e+09,366,7,3B 28 0B 3B 30 00 01,Normal,Normal

In [12]:
df2 = df.query('DLC in (4, 6)')  # df.query() supports the python expressions.
df2

           Timestamp Arbitration_ID  DLC               Data   Class SubClass
2       1.597760e+09            507    4        08 00 00 01  Normal   Normal
10      1.597760e+09            485    4        03 00 00 00  Normal   Normal
13      1.597760e+09            164    4        00 08 1F DD  Normal   Normal
18      1.597760e+09            2B0    6  D4 FF 00 07 97 10  Normal   Normal
37      1.597760e+09            164    4        00 08 01 B6  Normal   Normal
...              ...            ...  ...                ...     ...      ...
806348  1.597760e+09            2B0    6  5B 00 00 07 3A C9  Normal   Normal
806351  1.597760e+09            485    4        03 00 00 00  Normal   Normal
806361  1.597760e+09            436    4        00 00 00 04  Normal   Normal
806367  1.597760e+09            164    4        00 08 07 F8  Normal   Normal
806371  1.597760e+09            2B0    6  5B 00 00 07 2B 19  Normal   Normal

[94497 rows x 6 columns]

### condition chaining

In [13]:
condition1 = (df['Data'] == "00 00 00 00 00 00 08 EB")
condition2 = (df['Timestamp'] >= 50)
df3 = df[condition1 & condition2]
# df3 = df.query('Data == "00 00 00 00 00 00 08 EB" and Timestamp >= 50')
df3

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass
190,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
958,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
1730,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
2490,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
3264,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
...,...,...,...,...,...,...
802799,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
803564,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
804330,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
805106,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal
805860,1.597760e+09,391,8,00 00 00 00 00 00 08 EB,Normal,Normal

# Making sure the integrity of dataset

## Q1. Is there any missing values (also known as NA or NaN)?

In [14]:
df.isna().any()

Timestamp         False
Arbitration_ID    False
DLC               False
Data              False
Class             False
SubClass          False
dtype: bool

## Q2. Are the CAN messages properly sorted by timestamp?

In [15]:
# case 1. manual iteration
for i in range(len(df['Timestamp']) - 1):
    if not (df.loc[i + 1, 'Timestamp'] > df.loc[i, 'Timestamp']):
        print('[Case 1] Something went wrong.')
        break
else:
    print('[Case 1] The dataset is sorted by timestamp.')

# case 2. Pandas API
is_sorted = df['Timestamp'].is_monotonic_increasing
if sorted:
    print('[Case 2] The dataset is sorted by timestamp.')
else:
    print('[Case 2] Something went wrong.')

[Case 1] The dataset is sorted by timestamp.
[Case 2] The dataset is sorted by timestamp.

## Q3. Is data pre-processing necessary?

check the data type.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806390 entries, 0 to 806389
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Timestamp       806390 non-null  float64
 1   Arbitration_ID  806390 non-null  object
 2   DLC             806390 non-null  int64
 3   Data            806390 non-null  object
 4   Class           806390 non-null  object
 5   SubClass        806390 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 36.9+ MB

Three problems
1. The scientific notation of `Timestamp` is not straightforward.
2. `Arbitration_ID` was supposed to be represented as an integer. But the data type is string (object).
2. `Class` : 'Normal' -> 0, 'Attack' -> 1

### Timestamp
We will make two new timestamp fields.
 - the absolute timestamp
 - the monotonic timestamp *starting with 0*

In [17]:
df['abstime'] = pd.to_datetime(df['Timestamp'], unit='s').round('us')
df['monotime'] = df['Timestamp'] - df['Timestamp'].min()
df[['Timestamp', 'abstime', 'monotime']]

           Timestamp                    abstime    monotime
0       1.597760e+09 2020-08-18 14:08:30.125893    0.000000
1       1.597760e+09 2020-08-18 14:08:30.126151    0.000258
2       1.597760e+09 2020-08-18 14:08:30.126310    0.000417
3       1.597760e+09 2020-08-18 14:08:30.127247    0.001354
4       1.597760e+09 2020-08-18 14:08:30.127480    0.001587
...              ...                        ...         ...
806385  1.597760e+09 2020-08-18 14:13:34.980384  304.854491
806386  1.597760e+09 2020-08-18 14:13:34.980630  304.854737
806387  1.597760e+09 2020-08-18 14:13:34.980872  304.854979
806388  1.597760e+09 2020-08-18 14:13:34.981116  304.855223
806389  1.597760e+09 2020-08-18 14:13:34.981364  304.855471

[806390 rows x 3 columns]

### Arbitration_ID

from hex-string to int

In [18]:
def func_hexstr_to_int(value):
    return int(value, 16)


df['aid_int'] = df['Arbitration_ID'].map(func_hexstr_to_int)  #
df[['Arbitration_ID', 'aid_int']]

       Arbitration_ID  aid_int
0                 153      339
1                 220      544
2                 507     1287
3                 356      854
4                 340      832
...               ...      ...
806385            366      870
806386            367      871
806387            368      872
806388            47F     1151
806389            4C9     1225

[806390 rows x 2 columns]

In [19]:
0x260, 0x329, 0x38d

(608, 809, 909)

### Class
- 'Normal' -> 0
- 'Attack' -> 1

In [20]:
df['Class'].value_counts()

Normal    733752
Attack     72638
Name: Class, dtype: int64

In [21]:
dict_class = {'Normal': 0, 'Attack': 1}
df['y'] = df['Class'].map(dict_class)
df[['Class', 'y']].loc[365300:365300 + 5]

         Class  y
365300  Attack  1
365301  Normal  0
365302  Attack  1
365303  Attack  1
365304  Normal  0
365305  Normal  0